* {
  box-sizing: border-box;
}

body {
  background-color: var(--black); // TODO: REMOVE
  color: var(--white); // TODO: REMOVE
  font-family: "Roboto", sans-serif; // TODO: ADD ANOTHER
  margin: 0;
  padding: 0;
}

:root {
  --black: #141414;
  --white: #fff;
  --red: #b9090b;
  --gray: #a7a7a7;
  --gray-secondary: #333;
  --green: #46d369;
  --orange: #e87c03;
}
